<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab 2</title>
</head>
<body>
  <p>Server counter: <span id="api-text"></span></p>
  <script>
    function fetchData () {
        fetch('/api/lab2').then((response) => {
          return response.json();
        }).then((data) => {
          document.querySelector('#api-text').innerHTML = data.state
        })
    }
    fetchData()
    setInterval(fetchData, 1000)
  </script>
</body>
</html>